.footer { 
    padding:16px 24px;
    text-align: center;
    color:var(--color-text-sub);
    font-size:0.8rem;
    margin-top: 80px;
}
.nav{
    display: flex;
    gap: 40px;
    font-size: 1rem;
    white-space: nowrap;
}
@media(max-width:640px){
    .items{
        flex-wrap:wrap;
        gap: 8px 0;
    }
    .items{
        width:50%;
    }
}